/bin
/target
/iqq.log
/iqq.log.1
target
.DS_Store
MANIFEST.MF
.pmd
.checkstyle
*.iml
.idea
nb-configuration.xml
*.versionsBackup
.settings
.project
.classpath

build/
.gradle/
*.iws
*.ids
*.iml
*.ipr
temp
temp/*
work/
lib
build.xml
pom_new.xml
verify.png
qrcode.png
